<!-- Homepage (main/index) -->


<!-- JIGGLE TO THE BEAT banner -->

  <div class="row" style="margin-right: 100px">
    <div class="yellowbanner">
    </div>
  </div>


<!-- Featured Lists of Songs -->

  <div class="row" style="border-top: 1px #888 solid; padding-top: 40px; margin-right: 100px">
    <div class="col-md-12">

      <div class="popular-songs-list">
        <div class="song-list-heading">
          <i class="fa fa-star fa-3" style="color: white; font-size: 44px; padding-right: 15px"></i><h1><%= link_to "Popular Songs", "main/popularsongs" %></h1><i class="fa fa-star" style="color: white; font-size: 44px; padding-left: 15px"></i>
        </div>
        <div class="list-group">
          <% @popular_songs.each do |song| %>
          <h4 class="list-group-item-heading"><%= link_to song.title, song %></h4>
          <p class="list-group-item-text"></p>
          <% end %>
        </div>
      </div>
    </div>

   <!--  <div class="col-md-6">

      <div class="popular-songs-list">
        <div class="song-list-heading">
          <i class="fa fa-star fa-3" style="color: white; font-size: 44px; padding-right: 15px"></i><h1><%= link_to "Popular Songs", "main/popularsongs" %></h1><i class="fa fa-star" style="color: white; font-size: 44px; padding-left: 15px"></i>
        </div>
        <div class="list-group">
          <% @popular_songs.each do |song| %>
          <h4 class="list-group-item-heading"><%= link_to song.title, song %></h4>
          <p class="list-group-item-text"></p>
          <% end %>
        </div>
      </div>
    </div> -->


  </div>


<!-- Thumbnails -->

  <div class="row main-thumbnails" style="border-top: 1px #888 solid; padding-top: 40px; margin-right: 100px">
    <div class="col-md-3">
      <%= link_to image_tag("abc.jpg"), "songs/2", :class => "img-thumbnail"%>
    </div>
    <div class="col-md-3">
      <%= link_to image_tag("bus.jpg"), "songs/1",  :class => "img-thumbnail"%>
    </div>
    <div class="col-md-3">
      <%= link_to image_tag("kidsinbus.jpg"), "songs/1", :class => "img-thumbnail"%>
    </div>
    <div class="col-md-3">
      <%= link_to image_tag("boat.jpg"), "songs/3", :class => 'img-thumbnail'  %>
    </div>

  </div>

